//IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Varela&display=swap');
//VARIABLES FOR FONTS
$decorfont: 'Lora';
$textfont: 'Varela';
$menufont: 'Josefin Sans';
//COLOR SCEHEME; BASIC COLOR, LIGHTER AND DARKER. 
$basiccolor: #ccc9c4;
$darker: darken($basiccolor,
60%);
$lighter: lighten($basiccolor,
20%);
//MIXIN FOR IMAGES
@mixin images {
    width: 40%;
    display: block;
    margin: auto;
}

//MIXIN FOR H1 
@mixin h1 {
    background: linear-gradient(to right, $basiccolor, $lighter);
    background-size: 100% 20px;
    font-family: $decorfont;
    color: $darker;
    text-align: center;
    font-size: 80px;
    width: 90%;
    margin: auto;
    padding: 1%;
}

//MIXIN FOR H2
@mixin h2 {
    font-family: $decorfont;
    color: black;
    font-size: 40px;
}

//MIXIN FOR LINKS IN TEXT
@mixin text-link {
    color: #fff;
    text-decoration: none;
    background-color: none;
    font-size: 24px;
}

//MIXINS FOR MEDIA QUERY WITH BREAKPOINTS. 
@mixin breakpoint($point) {
    @if $point==screen-max {
        @media (max-width: 1600px) {
            @content;
        }
    }
    @else if $point==screen-medium {
        @media (max-width: 1150px) {
            @content;
        }
    }
    @else if $point==screen-min {
        @media (max-width: 600px) {
            @content;
        }
    }
}
