    //IMPORT SASS-FILES
    @import 'base';
    @import 'reset';
    //BODY BACKGROUND COLOR
    body {
        background-color: $basiccolor;
    }
    
    //STYLING FOR TEXT, INCLUDING BREAKPOINTS 
    p {
        font-family: $textfont;
        font-size: 16px;
        color: black;
        text-align: center;
        @include breakpoint(screen-medium) {
            padding: 2%;
            padding-bottom: 3%;
        }
    }
    
    //STYLING FOR H1 INCLUDES FROM BASE, INCLUDING BREAKPOINTS
    h1 {
        @include h1;
        border: 2px $darker solid;
        margin-top: 1%;
        @include breakpoint(screen-medium) {
            width: 80%;
            font-size: 60px;
            margin: auto;
        }
        @include breakpoint(screen-min) {
            width: unset;
            font-size: 40px;
        }
    }
    
    //STYLING FOR MAIN MENU INCLUDING BREAKPOINTS
    .main-menu {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 5%;
        @include breakpoint(screen-min) {
            font-size: 25px;
            width: 90%;
            margin: auto;
            margin-top: 4%;
            margin-bottom: 2%;
        }
        a {
            font-family: $menufont;
            color: gray;
            text-decoration: none;
            font-size: 30px;
            padding: 1%;
            margin-top: 2%;
        }
        a:hover {
            background-color: $darker;
            color: $lighter;
        }
    }
    
    //STYLING FOR LINKS INCLUDING BREAKPOINT
    .links {
        font-family: $textfont;
        font-size: 16px;
        color: gray;
        text-decoration: none;
        @include breakpoint(screen-min) {
            display: block;
            border-radius: unset;
            margin-left: unset;
            padding: unset;
            margin-top: 0.5%;
        }
    }
    
    //STYLING FOR BOX1 WITH TEXT AND IMAGE
    #box1 {
        padding-top: 3%;
        @include breakpoint(screen-medium) {
            width: 80%;
            margin: auto;
            margin-bottom: 2%;
        }
        @include breakpoint(screen-min) {
            width: unset;
            margin-bottom: 3%;
            padding-bottom: 5%;
        }
    }
    
    //STYLING FOR THE IMAGE IN BOX1
    #box1 img {
        @include images;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    //STYLING FOR BOX2 WITH TEXT AND IMAGE
    #box2 {
        padding-top: 3%;
        @include breakpoint(screen-medium) {
            width: 80%;
            margin: auto;
            margin-bottom: 2%;
        }
        @include breakpoint(screen-min) {
            width: unset;
            margin-bottom: 3%;
            padding-bottom: 5%;
        }
    }
    
    //STYLING FOR THE IMAGE IN BOX2
    #box2 img {
        @include images;
        @include breakpoint(screen-medium) {
            width: 80%;
        }
        @include breakpoint(screen-min) {
            width: 90%
        }
    }
    
    //STYLING FOR H2, INCLUDED FROM BASE
    h2 {
        @include h2;
        text-align: center;
    }
    
    //STYLING FOR FOOTER, FOOTER-LINK EXTENDED FROM .LINKS AND INCLUDUNG BREAKPOINTS
    footer {
        background-color: $darker;
        padding: 3%;
        margin: auto;
        a {
            @extend .links;
            @include breakpoint(screen-medium) {
                font-size: 25px;
                padding: 1%;
                display: block;
                margin: auto;
                width: 10%;
            }
            @include breakpoint(screen-min) {
                width: 90%;
                margin-top: 1%;
                padding: 1%;
                font-size: unset;
            }
        }
        a:hover {
            background-color: $darker;
            color: $lighter;
        }
    }
    
    footer p {
        color: #fff;
    }
